<div class = "credentials">
	<div id = "title">
		Introduce yourself!
	</div>
	<div id = "form-div">
		<form action = "/<%=target%>" method = "post">
			<div id = "msg">
				Please enter username
			</div>
			<div id = "form">
				<input required name="username" autocomplete = "off">
				<input type="submit" id = "submit" value="Submit">
			</div>
		</form>
	</div>
</div>

<link rel="stylesheet" type="text/css" href="/css/credentials.css">
