<div class = "credentials">
	<form action = "/<%=target%>" method = "post">
		<label for="username">Please enter publicly-visible username:</label>
		<input required name="username">
		<input type="submit" value="Submit">
	</form>
</div>
<link rel="stylesheet" type="text/css" href="/css/credentials.css">