<div class = "credentials">
	<form action = "/<%=target%>" method = "post">
		<label for="username">Please enter publicly-visible username:</label>
		<input type="" name="username">
		<input type="submit" value="Submit">
	</form>
</div>