<link rel="stylesheet" type="text/css" href="/css/home.css">
<div class="container">
<div id = "title">
	MusicVR
</div>
<div id = "description">
	<i>Multiplayer karaoke in Virtual Reality!</i><br>
	<span>Karaoke with friends. Anytime. Anywhere.</span>
</div>
	<div id = "menu-div">
		<form action = "/create" method = "get">
			<input type = "submit" class="btn menu-item" value = "CREATE ROOM">
		</form>
		<form action = "/room" method = "get">
			<input type = "submit" class = "btn menu-item" value = "JOIN ROOM">
		</form>
	</div>
</div>
<script type="text/javascript" src="./js/home.js"></script>