<div id = "menu-div">
	<div class = "menu-item" id = "create-room-div">
		<form action = "/create" method = "get">
			<input type="submit" value = "Create Room"></input>
		</form>
	</div>

	<div class = "menu-item" id = "join-room-div">
		<form action = "/join" method="get">
			<input type="submit" value = "Join Room"></input>
		</form>
	</div>
</div>
<script type="text/javascript" src="./js/home.js"></script>