<div id = "menu-div">
	<div class = "menu-item" id = "create-room-div">
		<button>Create Room</button>
	</div>
	<div class = "menu-item" id = "join-room-div">
		<button>Join Room</button>
	</div>
</div>