<!DOCTYPE html>
<html>
<head>
<title></title>
</head>
<body>
<button id="pause" onclick="player('pauseres');">Pause</button>
<button id="play" onclick="player('fetch');">Play</button>
<button id="add" onclick="player('add');">Add</button>
<button id="next" onclick="player('next');">Next</button>
<script type="text/javascript" src="js/buffer-loader.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
<script type="text/javascript" src="js/audio-controller.js"></script>
<script type="text/javascript" src="js/player.js"></script>
</body>
</html>