<head>
  <link rel="stylesheet" href="css/main.css">
<style type="text/css">
/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */

/* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
</style>

  <script src="/vendor/aframe.min.js"></script>
  <script src="/vendor/aframe-motion-capture-components.js"></script>
  <script src="/vendor/CCapture.min.js"></script>

  <script src='/components/states/replay.js'> </script>
  <script src='/components/states/instructions.js'> </script>

  <script src='/components/proxy-event.js'> </script>
  <script src="/components/option-select-button.js"></script>
  <script src='/components/game-state.js'> </script>
  <script src='/components/discofloor.js'> </script>
  <script src='/components/spotlight.js'> </script>
  <script src='/components/roomcolor.js'> </script>
  <script type="text/javascript" src="/js/peer.min.js"></script>
  <script type="text/javascript" src="/socket.io/socket.io.js"></script>
</head>

<div class="instructions" class="hide">
  <button class="start-button">
    <span>Loading...</span>
  </button>
</div>

<a-scene uploadcare="publicKey: 85ed3c25d99e387316bd" game-state avatar-recorder="spectatorPlay: true; spectatorPosition: 0 0 0; localStorage: false; saveFile: false"
  auto-enter-vr="enabled: false">



  <a-assets timeout="8000">
    <img src="assets/room/tv.png">
    <a-asset-item id="set-obj" src="assets/room/set.gltf"></a-asset-item>
    <img src="assets/room/set.jpg">
    <a-asset-item id="floor-obj" src="assets/room/floor.gltf"></a-asset-item>
    <img id="flooroff-mtl" src="assets/room/flooroff.png">
    <a-asset-item id="spotlight-obj" src="assets/room/spotlight.gltf"></a-asset-item>
    <img id="spotlight-img" src="assets/room/spotlight.png">
  </a-assets>


  <a-plane scale=".5 .3 1" id="song-tv" width="6.2" height="5.8" color="#4B0082" rotation="0 0 0" position="-.5 1.8 -3.76">
    <a-plane width="6" height="5.5" color="#8A2BE2" rotation="0 0 0" position="0.01 0 .01">
      <a-plane text="value: PLAY" width=".9" height=".6" position="-1.9 2 .01" option-select-button="type: play" rotation="0 0 0" color="#4B0082"></a-plane>
      <a-plane text="value: PAUSE" width=".9" height=".6" position="-.65 2 .01" option-select-button="type: toggle" rotation="0 0 0" color="#4B0082"></a-plane>
      <a-plane text="value: NEXT" width=".9" height=".6" position=".65 2 .01" option-select-button="type: next" rotation="0 0 0" color="#4B0082"></a-plane>
      <a-plane text="value: LIST" width=".9" height=".6" position="1.9 2 .01" option-select-button="type: list" rotation="0 0 0" color="#4B0082"></a-plane>
      <a-plane id="aframe-playlist" visible="false" width="2.5" height="3.8" position="-1.4 -.6 .01" option-select-button="type: playlist"
        rotation="0 0 0" color="#4B0082"></a-plane>
      <a-plane id="aframe-queue" visible="false" width="2.5" height="3.8" position="+1.4 -.6 .01" option-select-button="type: queue"
        rotation="0 0 0" color="#4B0082"></a-plane>
    </a-plane>
  </a-plane>






  <a-entity id="cameraRig" rotation="0 0 0" position="0 1 0">
    <a-entity id="avatarHead" camera="userHeight: 0" wasd-controls look-controls visible="false"></a-entity>
  </a-entity>
  <!-- Texts -->
  <a-entity id="counter0Text" visible="false" position="0.87 2.18 -2.42" rotation="23.78 -27.40 0" text="font: assets/asaturdaynight.fnt; color: #fffd6a; align:center;width:3.8"></a-entity>
  <a-entity id="counter1Text" visible="false" position="-1.66 2.18 2.16" rotation="23.78 147.24 0" text="font: assets/asaturdaynight.fnt; color: #fffd6a; align:center;width:3.8"></a-entity>
  <a-entity id="counter0" visible="false" position="0.87 2.18 -2.42" rotation="23.78 -27.40 0" text="font: assets/asaturdaynight.fnt; color: #fffd6a; align:center;width:7.4"></a-entity>
  <a-entity id="counter1" visible="false" position="-1.66 2.18 2.16" rotation="23.78 147.24 0" text="font: assets/asaturdaynight.fnt; color: #fffd6a; align:center;width:7.4"></a-entity>
  <a-entity id="centeredText" text="font: assets/asaturdaynight.fnt; align: center; opacity: 1; width: 6.22;color:#fffdb3;"
    visible="false" position="0 1.4 -1"></a-entity>
  <a-entity id="collectText" visible="false">
    <a-entity text="font: assets/asaturdaynight.fnt; align: center; opacity: 1; width: 3.3;color:#fffdb3;value:Copy your dance URL and share!"
      position="-1.4 1.25 0" rotation="0 90 0"></a-entity>
    <a-entity text="font: assets/asaturdaynight.fnt; align: center; opacity: 1; width: 3.3;color:#fffdb3;value:Copy your dance URL and share!"
      position="1.6 1.25 0" rotation="0 -90 0"></a-entity>
  </a-entity>


  <a-entity id="backText" text="font: assets/asaturdaynight.fnt; align: center; opacity: 1; width: 2.8; color:#fffdb3; value:( Turn around )"
    visible="false" position="0 1.4 2.19" rotation="0 180 0"></a-entity>

  <!-- Lights -->
  <!-- spotlights -->
  <a-entity id="spot1" proxy-event="event: dancing" gltf-model="#spotlight-obj" spotlight="color:#ab7121" position="-3.14 2.38 2.7"
    rotation="44 -38 0" scale="0 0 0">
    <a-animation attribute="scale" begin="dancing" to="1 1 1" dur="1000" easing="ease-out-elastic"></a-animation>
  </a-entity>
  <a-entity id="spot2" proxy-event="event: dancing" gltf-model="#spotlight-obj" spotlight="color:#205eff" position="2.7 2.29 2.7"
    rotation="50 53 0" scale="0 0 0">
    <a-animation attribute="scale" begin="dancing" to="1 1 1" dur="1000" easing="ease-out-elastic"></a-animation>
  </a-entity>
  <a-entity id="spot3" proxy-event="event: dancing" gltf-model="#spotlight-obj" spotlight="color:#a431f0" position="-3 2.38 -2.5"
    rotation="-52 60 -13" scale="0 0 0">
    <a-animation attribute="scale" begin="dancing" to="1 1 1" dur="1000" easing="ease-out-elastic"></a-animation>
  </a-entity>
  <a-entity id="spot4" proxy-event="event: dancing" gltf-model="#spotlight-obj" spotlight="color:#f130cf" position="3 2.38 -1.19"
    rotation="-50 -60 0" scale="0 0 0">
    <a-animation attribute="scale" begin="dancing" to="1 1 1" dur="1000" easing="ease-out-elastic"></a-animation>
  </a-entity>


  <!-- room, floor and TV sets -->
  <a-entity id="room" gltf-model="#set-obj" proxy-event="event: dancing" roomcolor="#999">
    <a-entity sound="loop: true" position="0 2 -1"></a-entity>
    <a-animation attribute="roomcolor" begin="dancing" to="#FFF" dur="1000" easing="ease-out-elastic"></a-animation>
  </a-entity>
  <a-entity id="floor" gltf-model="#floor-obj" material="shader:flat;src:#floor-img" discofloor position="0 -0.009 0" rotation="0 -90 0"></a-entity>
  <a-image src="#flooroff-mtl" material="repeat: 8 8" rotation="-90 0 0" scale="1.99 1.99 1" position="0 -0.01 0"></a-image>
  <a-entity id="tv1" gltf-model="#tv-obj" position="-1.66 2.15 2.18" rotation="0 -33.3 0"></a-entity>
  <a-entity id="tv2" gltf-model="#tv-obj" position="0.87 2.15 -2.44" rotation="0 151.8 0"></a-entity>


  <a-camera>
    <a-cursor position="0 0 -1" geometry="primitive: ring; radiusInner: 0.02; radiusOuter: 0.03" material="color: black; shader: flat">
    </a-cursor>
  </a-camera>
</a-scene>
<div id="snackbar">Some text some message..</div>
<div id="subs"></div>
<%- content %>
