<head>

</head>


<button id="pause" onclick="player('pauseres');">Pause</button>
<button id="play" onclick="player('fetch');">Play</button>
<button id="add" onclick="player('add');">Add</button>
<button id="next" onclick="player('next');">Next</button>
<div id="snackbar">Some text some message..</div>
<div id="subs"></div>
<%- content %>