<button id="pause" onclick="player('pauseres');" style="display: none;">Pause</button>
<button id="play" onclick="player('fetch');" style="display: none;">Play</button>
<button id="add" onclick="player('add');" style="display: none;">Add</button>
<button id="next" onclick="player('next');" style="display: none;">Next</button>
<%- content %>