<!-- A dirty hack for the clipboard -->
<button class = "btn" class = "hidden" id = "copy-btn" style = "display: none;"></button>

<video width="320" height="240" class = "media" id = "self" controls muted autoplay>
</video>

<script src="http://cdn.peerjs.com/0.3/peer.min.js"></script>
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script type="text/javascript">
	var socket = io();
	socket.emit('type', {
		type : 'admin',
		url : 'create'
	});
</script>
<script type="text/javascript" src = "/js/room-admin.js"></script>
<script type="text/javascript" src = "/js/connection.js"></script>