body {
	background-color: darkslategray;
}

@keyframes appear {
	from {	
		height: 0px;
	}
}

.credentials {
	position: absolute;
	top: 50%;
	left: 50%;
	height: 50vh;
	width: 50vw;
	transform: translate(-50%, -50%);
	padding: 1em;
	border-radius: 10px;
	background: linear-gradient(#e43b5e, #c2194c);
	display: flex;
	flex-direction: column;
	animation: appear 1s;
}

#title {
	font-family: 'Montserrat', sans-serif;
	font-size: 2.5em;
	margin: auto;
	flex-grow: 1;
	color: #fff78c;
}

#form-div {
	flex-grow: 3;
}

#msg {
	text-align: center;
	font-size: 1.5em;
	margin-bottom: 2em;
}

#form {
	width: 50%;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translateX(-50%);
}

input {
	-webkit-appearance: none;
	-moz-appearance: none;
	width: 100%;
	margin-bottom: 1em;
	font-size: 1.5em;
	border: none;
	background-color: inherit;
	color: black;
	border: solid 1px black;
}

#submit {
	width: inherit;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	border: solid 2px;
}

#submit:hover {
	cursor: pointer;
}
