body {
	background-color: #ddd;
	font-family: 'Open Sans', sans-serif;
	color: #ddd;
}

#topbar {
	font-family: 'Open Sans', sans-serif;
	font-size: 4em;
	color: #ddd;
}

.container {
	position: absolute;
	margin-top: 2em;
	margin-left: 2em;
	width: 100%;
}

#username {
	color: #ef2d5e;
}

#title {
	font-size: 2em;
	position: relative;
	margin-left: 2em;
	margin-top: 1em;
	margin-bottom: 1em;
}

#room-list {
	position: relative;
	margin-left: 4em;
	margin-right: 8em;
	border: solid 1px;
	border-radius: 10px;
}

a {
	text-decoration: none;
}

#room-url {
	font-size: 1.5em;
	color: #fff78c;
}

.room {
	padding: 1em;
	margin-top: 1em;
	margin-bottom: 1em;
	border-radius: 10px;
	color: #aaa;
}

.room:hover {

}

ul {
	margin-top: 0;
}
