body {
	background-color: #ddd;
	font-family: 'Open Sans', sans-serif;
}

#topbar {
	font-family: 'Open Sans', sans-serif;
	font-size: 3em;
	color: #ef2d5e;
}

.container {
	position: absolute;
	margin-top: 2%;
	margin-left: 2%;
	width: 100%;
}

#username {
	color: #ef2d5e
}

#title {
	font-size: 1.5em;
	position: absolute;
	left: 30%;
	top: 40%;
}

#room-list {
	position: relative;
	left: 10%;
	top: 5%;
}